.event-details {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  grid-gap: 60px;
}

/* event summary */
.event-summary {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
}
.event-summary .date {
  margin: 10px 0;
  font-size: 0.9em;
  color: var(--title-color);
}
.event-summary .details {
  margin: 30px 0;
  color: var(--text-color);
  line-height: 1.8em;
  font-size: 0.9em;
}
.event-summary h4 {
  color: var(--text-color);
  font-size: 0.9em;
}
.event-summary .assigned-fighters {
  display: flex;
  margin-top: 20px;
}
.event-summary .assigned-fighters .avatar {
  margin-right: 10px;
}
.event-summary + .btn {
  margin-top: 20px;
}
/* event comments */

.event-comments label {
  margin-bottom: 0px;
}

.event-comments textarea {
  min-height: 40px;
  font-size: 1.5em;
}
